@model HSVS.SinglePostal.WebApp.ViewModels.HospitalPostalSettingsViewModel
<!-- Post Card Settings -->
<div id="postcardsettings" class="tab horizontal-tab" data-tab="postcardSettings">
    <div class="pc-settings">
        <h1>POSTCARD SETTINGS</h1>
        <div class="postage-setting">
            <label class="label-txt">Maximum Number of Cards per Week to Lapsed Clients</label>
            @Html.TextBoxFor(m => m.TargetClients, new { @class = "text-field", type = "text", name = "field" })
            @Html.ValidationMessageFor(m => m.TargetClients,null, new {  style = "color:#ff0000" })                    
        </div>
        <div id="targetclientsHidden" class="hidden">@Model.TargetClients</div>
    </div>
    <div class="pc-email-modal">
        <label>To review, the Communications Sequence for the Client Recapture Postcards and Emails.</label>
        <a href="#" class="btn btn-blue-border" id="modalBtn">CLICK HERE</a>
    </div>
    <!-- The Modal -->
    <div id="recaptureModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close icon-close"></span>
            <h2 class="heading">Client Recapture Communications:</h2>
            <p>Our Client Recapture Program targets lapsed clients who have not visited the practice in the last 12 months. All practices will start off in Initial Phase with weekly postcards.</p>
            <p>If a client has received Postcard 1 and has not scheduled an appointment in 2 weeks, Postcard 2 will be mailed. The Initial Phase runs as long as the targeted lapsed client list ≥ 25. Initial phase is complete once this list is less than 25.</p>
            <div class="clearfix">
                <div class="pull-left margin-right-100">
                    <h4 class="subheading">Initial Phase:</h4>
                    <ul class="list-unstyled margin-muted">
                        <li>- Postcard 1</li>
                        <li>- Postcard 2</li>
                    </ul>
                </div>
                <div class="pull-left">
                    <h4 class="subheading">Sustain Phase:</h4>
                    <ul class="list-unstyled margin-muted">
                        <li>- Email 1</li>
                        <li>- Email 2</li>
                        <li>- Postcard 3</li>
                    </ul>
                </div>
            </div>
            <p>The Sustain Phase kicks off with Email 1—2 weeks after the Initial Phase is complete. If an appointment is not scheduled, Email 2 is sent to the lapsed client two weeks after Email 1.</p>
            <p>If the client still does not come in, Postcard 3 will be mailed. After Postcard 3, no additional communications will be sent to client.</p>
        </div>
    </div>
</div>

