@{
    ViewBag.Title = "CommunicationLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<!-- <svg viewBox="0 0 100 100" class="icon shape-codepen">
  <use xlink:href="#shape-codepen"></use>
</svg> -->
<!-- <figure class="icon shape-codepen">
        <use xlink:href="css/sprite.svg#shape-codepen"></use>
    </figure> -->
<div class="page-content">
    <!-- Breadcrumb -->
    <ul class="list-inline breadcrumb">
        <li>
            <div class="heading">
                <span class="icon-recapture"></span>
                <b>CLIENT</b> <span class="letter-space">RECAPTURE</span>
            </div>
        </li>
        <li class="text-red"><span class="icon-arrow-right"></span></li>
        <li>Help &amp; Support</li>
    </ul>
    <div class="row help-support">
        <div class="col-4 adrs-box">
            <div class="heading">
                <h1>BY PHONE</h1>
            </div>
            <p>
                TOLL-FREE:  <b>855-980-9099 option 4</b> <br>
                <small>
                    8:00 am-12:00 pm and 1:00 pm- 5:00 pm CST. <br>
                    Monday – Friday
                </small>
            </p>
        </div>
        <div class="col-4 adrs-box">
            <div class="heading">
                <h1>BY EMAIL</h1>
            </div>
            <p>
                <a href="mailto:support@hsrapport.net">support@hsrapport.net</a>
            </p>
        </div>
        <div class="col-4 adrs-box">
            <div class="heading">
                <h1>MAILING ADDRESS</h1>
                <small>For all inquirites</small>
            </div>
            <p>
                Rapport<br>
                3800 Horizon Blvd, Suite 201<br>
                Trevose, PA 19053
            </p>
        </div>
    </div>

</div>
