
/*** Flip Card Animation ***/

/*.flip-wrap {
    position: relative;
    height: auto;
}


.flip-wrap .card {
    width: 100%;
    height: 100%;
    position: relative;
    -ms-transform-style:inherit;
    transform-style:inherit;
}

.card.back .c-wrap {
    border: solid 1px #ddd;
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}

.flip-wrap .card  > div {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY( 0deg );
    -ms-transform: rotateY( 0deg );
}

.preview-actions li a.flipped {
    background: rgba(233, 241, 246, 0.5);
}

.preview-actions li a .icon {
    transition: all 0.2s ease-in-out;
}
.preview-actions li a.flipped .icon {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    color: #2d6fb7;
}*/





/* IE6/7 uses media, */
@media, { 
    
} 

/* IE8 uses \0 */
@media all\0 { 
    
} 

/* IE9 uses \9 */
@media all and (monochrome:0) { 
   
} 

/* IE10 and IE11 both use -ms-high-contrast */
@media all and (-ms-high-contrast:none)
 {
    .foo { color: green } /* IE10 */
    *::-ms-backdrop, .foo { color: red } /* IE11 */
 }