/** HEADER **/

.banner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    border-bottom: solid 1px #ddd;
    background: #fff;
    z-index: 99;
}

.banner-wrap {
    margin: 0 30px;
    position: relative;
    height: 80px;
}

/** Banner Right Side image **/

.banner-wrap .device {
    position: absolute;
    bottom: -10px;
    right: -90px;
    z-index: 99;
}


/** Logo **/

.banner .logo {
    height: 80px;
}

.logo img {
    display: inline-block;
    height: 100%;
    width: auto;
}

.logo img.height-auto {
    height: auto;
}


.hospital-logo {
    border: 1px #ddd;
    border-style: none none none solid;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
    height: 80px;
}

.hospital-logo h1 {
    font-family: 'proxima_nova_ltsemibold';
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 45px;
    color: #2d6fb7;
}

a.logout {
    margin: 0 15px;
}

span.icon-logout {
    font-size: 30px;
    line-height: 50px;
    vertical-align: middle;
    color: #ccc;
}

h1 > span:nth-child(even) {
  font-weight: 100;
  letter-spacing: 2px;
}

h1 > span:nth-child(odd) {
  font-weight: 700;
  letter-spacing: -0.5px;
}


.hospital-logo img {
    height: 100%;
    width: auto;
}

/** Login Details **/

.banner .nav {
    text-align: right;
    padding-right: 60px;
    position: relative;
    z-index: 99;
    margin: 0;
    padding-left: 0;
}

.user-nav .nav li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #99989a;
}

a.user-dropdown {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
}

.user-dropdown .icon-user {
    font-size: 40px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}


/*** User Nav ***/

.user-nav .nav li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #99989a;
}

a.user-dropdown {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
}

.user-dropdown .icon-user {
    font-size: 40px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}


.login-details {
    position: absolute;
    top: 0;
    float: right;
    min-width: 300px;
    right: 0;
    margin: 20px 70px 20px 5px;
    font-size: 14px;
    color:#99989A;
    z-index: 100; 
}

.login-details label {
    display: block;
}

.login-details label:first-child {
    padding-top: 2px;
}

.login-details label.hospital-name {
    font-size: 12px;
    color: #2D6FB7;
}

.login-details .profile-img {
    height: 40px;
    width: 40px;
    background: #2D6FB7;
    float: left;
    margin: 0 30px 0 10px;
    border-radius: 50%;
}

.login-details .log-out {
    height: 26px;   
    width: 35px;    
    display: block;
    float: left;
    margin: 6px 0;
}


/*** LEFT NAV **/

.left-nav {
    width: 11.5rem;
    background: #f8f8f8;
    position: fixed;
    left: 0;
    top: 80px;
    bottom: 0;
}

.left-nav .list-unstyled {
    padding: 20px;
}

.left-nav .list-unstyled li {
    padding-top: 15px;
    margin-bottom: 35px;
}

.left-nav .list-unstyled li a {
    color: #99989A;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    display: table;
}

.left-nav .list-unstyled li a p.text {
    height: 35px;
    display: table-cell;
    vertical-align: middle;
  }

.left-nav .list-unstyled li a:hover,
.left-nav .list-unstyled li a:hover .icon,
.left-nav .list-unstyled li a.active,
.left-nav .list-unstyled li a.active .icon {
    color: #2D6FB7;
}

.left-nav .list-unstyled li a .icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    color: #99989A;
    font-size: 24px;
    line-height: 35px;
    margin-right: 10px;
    float: left;
}



/*** PAGE CONTENT **/

.page {
    margin: 95px 15px 30px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: calc(10rem + 40px);
}

.page-content {
    /*min-width: 800px; */ 
    border: 1px solid #DDDDDD;  
    background-color: #FFFFFF;
}

.page-content .breadcrumb {
    height: 80px;
    line-height: 80px;
    color: #b3b3b3;
    font-size: 18px;
    margin: 0;
    padding: 0 30px;
    border-bottom: 1px solid #dedede;
}

.page-content .breadcrumb .heading {
    color: #2D6FB7;
    font-size: 18px;
}

.page-content .breadcrumb span.icon-recapture {
    font-size: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    margin-top: -4px;
}

.page-content .breadcrumb span.icon-arrow-right {
    font-size: 12px;
}

.page-content .breadcrumb a:hover,
.page-content .breadcrumb a:focus,
.page-content .breadcrumb a:active {
    color: #2D6FB7;
}

.page-content .btn-section {
    padding: 20px 30px;
}

.page-content .btn-section .icon-arrow {
    font-size: 13px;
}


/*** FOOTER ***/

footer {
    /*min-width: 800px; */ 
    border: 1px solid #DDDDDD;  
    background-color: #FFFFFF;
    padding: 25px 40px;
    font-size: 14px;
    text-align: left;
    color: #99989A;
    margin-top: 30px;
}

footer ul.list-inline {
    margin: 0;
}

footer ul.list-inline li {
    padding: 0 30px 0 0;
}

footer ul.list-inline li:last-child {
    padding: 0;
}


/*** POST CARD EDIT **/

.c-wrap {
    position: relative;
}

.tab-horizontal-content #postcard1,
.tab-horizontal-content #postcard2 {
     padding:60px 50px;    
}


.postcard {
    overflow: hidden;
    height: 100%;
}

.postcard .left,
.postcard .right {
    padding: 25px;
    font-size: 14px;
}

.postcard .left {
    border-right: 1px solid #dedede;
}

.postcard .left strong {
    display: block;
    color: #444444;
}

.postcard .left small {
    font-size: 11px;
    float: left;
    width: 100%;
    color: #99989A;
}

.postcard .left .hospital-details {
    margin: 0 0 125px 0;
    font-style: normal;
    color: #99989A;
    font-size: 11px;
}

.postcard .left .hospital-details strong {
    color: #444444;
    font-size: 14px;
}

.postcard-edit .left .client-letter {
    
}


.postcard .right .mail-box {
    display: table;
    float: right;
}

.postcard .right .mail-box span {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #d3dde4;
    height: 110px;
    width: 120px;
    text-align: center;
    color: #2D6FB7;
    text-transform: uppercase;
    font-size: 11px;
}

.postcard .right .text-view-height {
    min-height: 70px;
}

.postcard .right .spl-reminder {
    background-color: #E9F1F6;
    color: #f1677c;
    line-height: 40px;
    padding: 5px 10px 5px 60px;
    min-height: 40px;
}

.postcard .right .spl-reminder .icon-reminder {
    font-size: 34px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -45px;
}

.postcard .right .spl-reminder svg {
    fill: #F1677C;
    height: 36px;
    width: 36px;
}

.postcard .right .spl-reminder .blacktxt {
    color: #000;
    font-family: 'proxima_nova_ltsemibold';
}

.postcard .right .courier-type {
    font-family: courier, arial;
    letter-spacing: 1px;
    color: #333333;
    margin: 50px 0;
}

/** Edit TextArea **/

.postcard .right .edit-text {
    padding: 2px;
    border: 1px dashed #f9b8c2;
    cursor: pointer;
    position: relative;
    margin: 15px 0;
}

.postcard .right .edit-text:focus {
    border: 1px solid #f9b8c2;
    background: #ffffe8;
    outline: none;
}

.postcard .right .edit-text textarea {
    width: 95%;
    outline: none;
    border: 0;
    background: transparent;
    padding: 10px;
    resize: none;
}

.postcard .right .edit-text .text-remain {
    font-size: 13px;
    color: #949491;
    text-align: right;
    font-style: italic;
    padding: 0 6px 4px 0;
}

.postcard .right .edit-text.yellow-bg {
    border: 1px solid #f9b8c2;
    background: #ffffe7;
    outline: none;
}

.postcard .right .edit-text .icon-edit-txt {
    font-size: 20px;
    color: #F1677C;
    position: absolute;
    top: -11px;
    left: 10px;
}


/*** Flip Card ***/

.flip-card-bg {
    background-image: url('../images/flip-card-bg.jpg');
    background-color: #fff;
    /*background-size:cover;*/
    background-position:center;
    background-repeat: no-repeat;
    height: 495px;
    position: relative;
}

.flip-card-bg .row {
    height: 88.5%;
}

.flip-card-bg .pet-details h2 {
    color: #000000;
    font-size: 28px;
    margin: 0;
    font-family: 'proxima_nova_ltsemibold';
}

.flip-card-bg .pet-details h3 {
    color: #0f87ff;
    font-size: 24px;
    margin: 0;
    width: 200px;
    line-height: 30px;
}

.flip-card-bg .hospital-details {
    position: absolute;
    bottom: 75px;
    font-size: 10px;
    color: #99989A;
    font-style: normal;
}

.flip-card-bg .hospital-details strong {
    font-weight: bold;
    display: block;
    color: #444444;
    font-size: 10px;
}

.flip-card-bg .socical-links {
    text-align: right;
    position: relative;
    height: 100%;
}

.flip-card-bg .socical-links ul.list-inline {
    position: absolute;
    bottom: 0px;
    right: 15px;
}


/**** Postage Setting Tab ***/

#postcardsettings .pc-settings {
    padding:60px 50px;
    min-height: 200px;
}

#postcardsettings .pc-settings .text-field {
    border: 1px solid #cdcdcd;
    padding: 14px;
    outline: none;
    color: #555555;
    font-size: 18px;
    font-family: 'proxima_nova_ltsemibold';
    -webkit-box-shadow: inset 5px 5px 12px -7px #cbcbcb;
    -moz-box-shadow: inset 5px 5px 12px -7px #cbcbcb;
    box-shadow: inset 5px 5px 12px -7px #cbcbcb;
    display: inline-block;
}

#postcardsettings .pc-settings .text-field:focus {
    background: #ffffef;
    color: #F1677C;
}

#postcardsettings .pc-settings .label-txt {
    font-size: 14px;
    color: #99989A;
    width: 180px;
    display: inline-block;
    padding: 0;
    height: 50px;
    vertical-align: middle;
}

#postcardsettings .pc-email-modal {
    padding:15px 50px;
    border-top: 1px solid #dedede;
}

#postcardsettings .pc-email-modal label {
    font-weight: bold;
    color: #888888;
    margin-right: 10px;
}




/*** Performance Page ***/

.performance-tabs .tab-horizontal-content {
    padding: 0;
}

.performance-tabs .tab-horizontal-links a {
    width: auto;
    padding: 20px 35px;
}

.performance-tabs .tab-horizontal-links li:first-child a {
    width: 170px;
    padding: 20px 0;
}

/** Overview Header Links **/
#overview .header {
    padding-top: 50px;
    position: relative;
    border-bottom: 1px solid #dedede;
    padding-bottom: 18px;
}

#overview .header h1 {
    padding: 0 0 0 42px;
    margin-bottom: 0;
}

#overview .header .nav {
    padding-right: 42px;
}

#overview .header .nav .icons a {
    margin-left: 10px;
}

#overview .header .links li {
    margin-right: 40px;
}

#overview .header .links li a {
    color: #b3b3b3;
}

#overview .header .links li.active a {
    color: #2D6FB7;
    border-bottom: 2px solid #4e69a2;
    padding-bottom: 25px;
}

/** Report Chart Section ***/

.report-chart {
    padding: 0 35px;
}

/*** Customer Visit **/
.report-chart .customer-details {
    margin: 40px 10px 30px 25px;
}

.report-chart .customer-details li {
    margin-bottom: 25px;
}

.report-chart .customer-details h4 {
    margin: 0;
    font-size: 28px;
    color: #c9dde9;
    font-weight: normal;
    line-height: 28px;
}

.report-chart .customer-details label {
    color: #898989;
    font-size: 14px;
}

/** DateField **/
.report-chart .date-field {
    margin-top: 0;
    margin-bottom: 20px;
}

.report-chart .date-field li {
    position: relative;
}

.report-chart .date-field .text-field {
    width: 160px;
}



/** Overview Table **/
.report-chart .overview-table tr th,
.report-chart .overview-table tr td {
    border: 0;
}

.report-chart .overview-table tbody tr {
    background: #eaf2f7;
}

.report-chart .overview-table tr th {
    color: #666666;
}


.report-chart .overview-table tbody tr:nth-child(even) {
    background: #fbfbfb;
}

.report-chart .overview-table tr th:first-child {
    text-align: left;
}

.report-chart .overview-table tr td:first-child {
    color: #2d6fb7;
}

.report-chart .overview-table tr td:nth-child(2) {
    color: #7ed095;
}

.report-chart .overview-table tr td:last-child {
    padding-right: 20px;
    color: #4e69a2;
}

.report-chart .overview-table tr th:nth-child(2),
.report-chart .overview-table tr th:nth-child(3),
.report-chart .overview-table tr td:nth-child(2),
.report-chart .overview-table tr td:nth-child(3) {
    text-align: right;
    font-weight: bold;
}


/*** Performance Report Details ***/

.field-sec {
    padding: 20px 25px 25px;
    border-bottom: 1px solid #dedede;
}

.field-sec label {
    display: block;
}

/** DateField **/

.field-sec .date-field li {
    position: relative;
}

.field-sec .date-field .text-field {
    width: 140px;
}

.field-sec .search-client {
    margin: 0 40px 0 70px;
}

.field-sec .search-client .text-field {
    width: 390px;
}

.field-sec .icons {
    width: 140px;
    text-align: right;   
}

.field-sec .icons a {
    margin-left: 15px;
}

/*** Details Report Table ***/

.details-report-table {
    text-align: left;
    margin-bottom: 0;
}

.details-report-table thead tr {
    background: #fafafa;
}

.details-report-table thead tr th {
    font-family: 'proxima_nova_ltsemibold';
    color: #2D6FB7;
}


/** Tooltip Contact **/

.details-report-table .tooltip-contact,
.details-report-table .tooltip-services {
    position: relative;
}

.details-report-table .tooltip-contact .tooltip,
.details-report-table .tooltip-services .tooltip {
    display: none;
}

.details-report-table .tooltip-contact:hover .tooltip,
.details-report-table .tooltip-services:hover .tooltip {
    display: block;
}

.details-report-table .tooltip-contact .icon,
.details-report-table .tooltip-services .icon {
    position: relative;
    top: 2px;
}

.details-report-table .tooltip-contact:hover,
.details-report-table .tooltip-services:hover {
    background: #ffffef;
    cursor: pointer;
}


/** Tooltip Services **/

.details-report-table .tooltip-services .tooltip {
    min-width: 250px;
    margin-left: -128px;
    text-align: left;
}

.details-report-table .tooltip-services .tooltip:after,
.details-report-table .tooltip-services .tooltip:before  {
    left: 125px;
}

.details-report-table .tooltip-services label {
    font-weight: normal;
    font-size: 11px;
    width: 160px;
    word-wrap: break-word;
    display: inline-block;
    color: #99989A;
}

.details-report-table .tooltip-services .total {
    font-size: 16px;
    padding: 10px 10px 5px 10px;
}


/*** Tooltip **/

.details-report-table .tooltip {
    padding: 5px 0;
    font-weight: bold;
}

.details-report-table .tooltip ul li {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
}

.details-report-table .tooltip ul li:last-child {
    border-bottom: 0px;
}

.details-report-table .tooltip-contact .tooltip .icon {
    font-size: 14px;
    margin-right: 10px;
}



/**** HELP SUPPRT ***/

.help-support .adrs-box {
    font-size: 16px;
    color: #b3b3b3;
    padding: 100px 30px 100px 40px;
    border-right: 1px solid #dedede;
}

.help-support .adrs-box:last-child {
    border-right: 0px;
}

.help-support .adrs-box .heading {
    height: 50px;
}

.help-support .adrs-box .heading h1 {
    font-size: 20px;
    color: #F1677C;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 15px;
}

.help-support .adrs-box p {
    margin: 0;
}

.help-support .adrs-box small {
    font-size: 14px;
    display: block;
}

.help-support .adrs-box a,
.help-support .adrs-box b {
    color: #4e69a2;
    font-size: 16px;
    font-weight: bold; 
}









/*** Flip Card Animation ***/

.flip-wrap {
    position: relative;
    height: 495px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}


.flip-wrap .card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card.back .c-wrap {
    border: solid 1px #ddd;
     -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flip-wrap .card  > div {
    position: absolute;
    width: 100%;
    height: 100%;
     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.preview-actions li a.flipped {
    background: rgba(233, 241, 246, 0.5);
}

.preview-actions li a .icon {
    transition: all 0.2s ease-in-out;
}
.preview-actions li a.flipped .icon {
    transform: rotateY(180deg);
    color: #2d6fb7;
}
