@model HSVS.SinglePostal.WebApp.ViewModels.HospitalPostalSettingsViewModel
@{
    ViewBag.Title = "HospitalPostalSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
@using (Html.BeginForm("Save", "HospitalPostalSettings",FormMethod.Post,new { id="settingsform"}))
{
    <div class="page-content">
        <!-- Breadcrumb -->
        <ul class="list-inline breadcrumb">
            <li>
                <div class="heading">
                    <span class="icon-recapture"></span>
                    <b>CLIENT</b> <span class="letter-space">RECAPTURE</span>
                </div>
            </li>
            <li class="text-red"><span class="icon-arrow-right"></span></li>
            <li>Settings</li>
        </ul>
        <!-- TABS HORIZANTAL -->
        <div class="tabs-horizontal">
            <ul class="tab-horizontal-links">
                <li class="active">
                    <a href="#nogo" id="postcardTab1" data-target="postcard1">
                        <span class="tab-icon icon-postcard"></span>
                        POST CARD 1
                    </a>
                </li>
                <li>
                    <a href="#nogo" id="postcardTab2" data-target="postcard2">
                        <span class="tab-icon icon-postcard"></span>
                        POST CARD 2
                    </a>
                </li>
                <li>
                    <a href="#nogo" data-target="postcardSettings" id="changetabbutton">
                        <span class="tab-icon icon-card-stack"></span>
                        POSTCARD SETTINGS
                    </a>
                </li>
            </ul>
            <div class="tab-horizontal-content">
                <!-- Post Card 1 -->
                @Html.Partial("_Postcard1", Model)
                <!-- Post Card 2 -->
                @Html.Partial("_Postcard2", Model)
                <!-- Post Card Settings -->
                @Html.Partial("_PostcardSettings", Model)
            </div>
        </div>
        <!-- Button section -->
        <!-- Button section -->
        <div class="btn-section clearfix">
            <a id="savecontinue" href="#" class="btn btn-blue pull-left" >
                SAVE &amp; CONTINUE <span class="icon-arrow"></span>
            </a>
            <a id="resetstartover" href="#" class="btn pull-right">
                RESET &amp; START OVER
            </a>
            <button id="savecomplete" class="btn btn-green" style="display: none" type="submit" >
                SAVE &amp; COMPLETE
            </button>
        </div>      
    </div>
}
<script src="~/Content/js/singlepostal-validations.js"></script>


